<ol class="breadcrumb">
  <li><a href="/"><%= t :home %></a></li>
  <li class="active"><%= t :use_flags %></li>
</ol>

<h1><%= t :use_flags %></h1>

<div class="alert alert-info">
  Looking for the full USE flag index?
  You can find it on our <a href="https://www.gentoo.org/support/use-flags/" class="alert-link">main website</a>.
</div>

<form action="<%= search_useflags_path %>" method="get" class="useflag-search">
  <div class="typeahead-container">
    <div class="typeahead-field">
      <span class="typeahead-query">
        <input id="q" name="q" type="search" autocomplete="off" placeholder="Find USE flags">
      </span>
      <span class="typeahead-button">
        <button type="submit">
          <span class="typeahead-search-icon"></span>
        </button>
      </span>
    </div>
  </div>
</form>

<br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Most widely used USE flags</h3>
  </div>
  <noscript>
  <div class="panel-body kk-panel-content-sorry">
    This feature requires JavaScript to work.
  </div>
  </noscript>
  <div class="panel-body kk-useflag-bubble-container" id="bubble-placeholder" style="display: none;">
  </div>
</div>

<%= javascript_include_tag 'useflags/typeahead.js' %>
<%= javascript_include_tag 'd3.min.js' %>
<%= javascript_include_tag 'useflags/render-bubbles.js' %>
