<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active"><%= t :packages %></li>
</ol>

<h1><%= t :packages %></h1>

<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t :browse_categories %></h3>
      </div>
      <div class="panel-body">
        <ul class="kk-col-list kk-4col-list kk-category-listing">
        <%- prev_letter = 'z' -%>
        <% @categories.each do |category| %>
          <%- unless category.name[0].upcase == prev_letter ; prev_letter = category.name[0].upcase -%>
          <li class="kk-col-list-header"><span class="kk-group-header"><%= prev_letter %></span></li>
          <%- end -%>
          <li><%= link_to_category category %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t :update_feeds %></h3>
      </div>
      <div class="list-group">
        <a href="<%= added_packages_path %>" class="list-group-item">
          <span class="fa fa-fw fa-history"></span>
          <%= t :added_packages %>
        </a>
        <a href="<%= updated_packages_path %>" class="list-group-item">
          <span class="fa fa-fw fa-asterisk"></span>
          <%= t :updated_packages %>
        </a>
        <a href="<%= stable_packages_path %>" class="list-group-item">
          <span class="fa fa-fw fa-check-circle-o"></span>
          <%= t :stable_packages %>
        </a>
        <a href="<%= keyworded_packages_path %>" class="list-group-item">
          <span class="fa fa-fw fa-circle-o"></span>
          <%= t :keyworded_packages %>
        </a>
      </div>
    </div>
  </div>
</div>
